header {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.active-link {
    background-color: #EEC73C;
    &:hover {
        background-color: #eec73cb2;
    }
}

.container {
    width: 88%;
    margin: 7px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    font-size: 36px;
    margin-right: 10px;
}

.logo__img {
    width: 48px;
    height: 62px;
}

.navigation {
    display: flex;
    font-family: "Roboto";
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
            margin-right:  60px;
           a {
            padding: 8px 16px;
            border-radius: 4px;
            &:hover {
                background-color: rgb(233, 233, 233);
                color: #314506;
                transition: all 100ms;
            }
           }
        }
    }
}