<header [class.light-shadow]="lightShadow">
  <div class="container">
    <a routerLink="/home"
      >
        
          <img src="../../assets/home.png" alt="home" />
        </a>

    <div class="navigation">
      <ul>
        <li ><a *ngIf="auth.isAuthenticated()"  routerLink="/add" routerLinkActive="active-link">Add service</a></li>
        <li><a routerLink="/rules" routerLinkActive="active-link">Sorting rules</a></li>
        <li><a routerLink="/map" routerLinkActive="active-link">Drop-off points</a></li>
        <li ><a class="login" *ngIf="!auth.isAuthenticated(); else logout" [routerLink]="['/auth', 'login']" routerLinkActive="active-link">Sign in</a></li>
      </ul>

     
    </div>
  </div>
</header>

<ng-template #logout><a class="logout" (click)="auth.logout()" [routerLink]="['/auth', 'login']" routerLinkActive="active-link" *ngIf="userName$ | async as userName">{{userName}}</a></ng-template>
