.match-parent {
  width: 100%;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.dnone {
  display: none;
}

.block {
  width: 100px;
  height: 100px;
  z-index: 5;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

