<div class="bg"  id="top">
  <div class="rules-block" >
    <h2>Choose the type of waste</h2>

    <div class="rules-lists">
      <ul class="rules-column">
        <a  [routerLink]="['rules']" href="#batteries" [pageScrollDuration]="500" pageScroll >
          <li>Batteries</li>
        </a>

        <li>Clothing</li>
        <li>E-waste</li>
        <a [routerLink]="['rules']" href="#light-bulbs" [pageScrollDuration]="500" pageScroll>
          <li>Light bulbs</li>
        </a>
      </ul>
      <ul class="rules-column">
        <li>Plastic</li>
        <li>Paper</li>
        <li>Glass</li>
        <li>Metal</li>
      </ul>
    </div>

    <h3>Organic</h3>
  </div>
</div>

<div class="rules-details-section">
  <app-rules-details *ngFor="let rule of data" [rules]="rule">
  </app-rules-details>
</div>

<a [class.show]="showButton" id="button" [routerLink]="['rules']" href="#top" [pageScrollDuration]="500" pageScroll #button></a>
