.bg {
    background: url("../../../assets/bgTaxiPage.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 284px 0 184px;
}