.container {
  position: absolute;
  left: 6%;
  top: 131px;
  padding: 20px 80px 60px 50px;
  background: #ffffff;
  border: 1px solid #8d8b88;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Roboto";
  &>div {
      margin-top: 5px;
      line-height: 22px;
      color: #3E3E3E;

      label {
          margin-left: 5px;
      }
  }
}

p {
  margin-top: 30px;
  margin-bottom: 10px;
}

