<div class="container">
  <div class="exit-btn">
    <span class="material-icons"> close </span>
  </div>

  <div class="search">
    <input
      type="text"
      class="search-input"
      placeholder="Search point by name..."
    />
    <button>
      <span class="material-icons"> search </span>
    </button>
  </div>

  <h2>Select type of <b>waste</b></h2>

  <div class="types-row">
    <div>
      <input
        type="checkbox"
        id="plastic"
        name="plastic"
        [(ngModel)]="plastic"
        (change)="onToggle('plastic')"
      />
      <label for="plastic"><span>Plastic</span></label>
      
    </div>

    <div>
      <input
        type="checkbox"
        id="metal"
        name="metal"
        [(ngModel)]="metal"
        (change)="onToggle('metal')"
      />
      <label for="metal"><span>Metal</span></label>
      
    </div>

    <div>
      <input
        type="checkbox"
        id="paper"
        name="paper"
        [(ngModel)]="paper"
        (change)="onToggle('paper')"
      />
      <label for="paper"><span>Paper</span></label>
      
    </div>

    <div>
      <input
        type="checkbox"
        id="batteries"
        name="batteries"
        [(ngModel)]="batteries"
        (change)="onToggle('batteries')"
      />
      <label for="batteries"><span>Batteries</span></label>
      
    </div>

    <div>
      <input
        type="checkbox"
        id="glass"
        name="glass"
        [(ngModel)]="glass"
        (change)="onToggle('glass')"
      />
      <label for="glass"><span>Glass</span></label>
      
    </div>

    
  </div>

  <div class="types-row">

    <div>
      <input
        type="checkbox"
        id="clothes"
        name="clothes"
        [(ngModel)]="clothes"
        (change)="onToggle('clothes')"
      />
      <label for="clothes"><span>Clothes</span></label>
      
    </div>
    

    <div>
      <input
        type="checkbox"
        id="lightbulbs"
        name="lightbulbs"
        [(ngModel)]="lightbulbs"
        (change)="onToggle('lightbulbs')"
      />
      <label for="lightbulbs"><span>Light bulbs</span></label>
      
    </div>

    <div>
      <input
        type="checkbox"
        id="ewaste"
        name="ewaste"
        [(ngModel)]="ewaste"
        (change)="onToggle('ewaste')"
      />
      <label for="ewaste"><span>E-Waste</span></label>
      
    </div>

    <div>
      <input
        type="checkbox"
        id="organic"
        name="organic"
        [(ngModel)]="organic"
        (change)="onToggle('organic')"
      />
      <label for="organic"><span>Organic</span></label>
      
    </div>

    <div>
      <input
        type="checkbox"
        id="mixed"
        name="mixed"
      />
      <label for="clothes"><span>Mixed</span></label>
      
    </div>
  </div>

  <div class="join-us">
    <p>Do you own a <b>waste collection</b> point?</p>
    <button (click)="router.navigate(['/auth', 'register'])">Join us</button>
  </div>
</div>
