<div class="bg">
  <form class="taxi-form" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Add new service</h1>

    <div class="taxi-form-data-list">
      <select formControlName="type">
        <option disabled selected value="Raw material type">Raw material type</option>
        <option value="Plastic">Plastic</option>
        <option value="Metal">Metal</option>
        <option value="Paper">Paper</option>
        <option value="Glass">Glass</option>
        <option value="Clothes">Clothes</option>
        <option value="Waste">E-Waste</option>
        <option value="Light-Bulbs">Light-Bulbs</option>
        <option value="Organic">Organic</option>
      </select>
    </div>

    <div class="taxi-form-data-list">
      <input placeholder="Name of Service" formControlName="name" />
      <input placeholder="Description" formControlName="description" />
      <input placeholder="Phone number" formControlName="number" />
      <input
        placeholder="Adress"
        formControlName="address"
        [value]="selectedFeature?.place_name"
      />
      <div class="search-block">
        <div class="search" *ngFor="let feature of features" (click)="onSelect(feature)">
          {{ feature.place_name }}
        </div>
      </div>
    </div>

    <div class="taxi-button">
      <button [disabled]="!form.valid">APPLY</button>
    </div>
  </form>
</div>
