<div class="bg">
  <form class="taxi-form" [formGroup]="form" (ngSubmit)="submit()">
    <h1>New service for receiving raw materials</h1>

    <p>
      Do you know a service that is not on the map, or have you opened a similar
      one? Feel free to add it to the map.
    </p>

    <div class="taxi-form-data-list">
      <h3>Type of waste</h3>
      <div class="type-waste">
        <input type="checkbox" id="plastic" formControlName="plastic" (change)="typeChanged()"/>
        <label for="plastic">Plastic</label>
        <input type="checkbox" id="metal"  formControlName="metal" (change)="typeChanged()"/>
        <label for="metal">Metal</label>
        <input type="checkbox" id="paper"  formControlName="paper" (change)="typeChanged()"/>
        <label for="paper">Paper</label>
        <input type="checkbox" id="glass"  formControlName="glass" (change)="typeChanged()"/>
        <label for="glass">Glass</label>
        <input type="checkbox" id="organic"  formControlName="organic" (change)="typeChanged()"/>
        <label for="organic">Organic</label>
        <input type="checkbox" id="batteries"  formControlName="batteries" (change)="typeChanged()"/>
        <label for="batteries">Batteries</label>
      </div>
      <div class="validation">
        <small
          ></small
        >
      </div> 
    </div>

    <div class="taxi-form-data-list">
      <input placeholder="Name of Service" formControlName="name" />
      <div class="validation">
        <small *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
          >Field should not be empty.</small
        >
      </div>

      <input placeholder="Description" formControlName="description" />
      <div class="validation">
        <small
          *ngIf="
            form.get('description')?.invalid && form.get('description')?.touched
          "
          >Field should not be empty.</small
        >
      </div>
      <input placeholder="Phone number" formControlName="number" />
      <div class="validation">
        <small
          *ngIf="form.get('number')?.invalid && form.get('number')?.touched"
          >Number length should be between 7 and 10 characters</small
        >
      </div>
      <input
        placeholder="Address"
        formControlName="address"
        [value]="selectedFeature?.place_name"
      />
      <div class="validation">
        <small 
          *ngIf="form.get('address')?.invalid && form.get('address')?.touched"
          >Should be real address.</small
        >
        <small #addressValid class="addressValid">Should be real address.</small>
      </div>
      <div class="search-block">
        <div
          class="search"
          *ngFor="let feature of features"
          (click)="onSelect(feature)"
        >
          {{ feature.place_name }}
        </div>
      </div>
    </div>

    <div class="taxi-button">
      <button [disabled]="!form.valid || !typeChoosed">CREATE</button>
    </div>
  </form>
</div>
