input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c7cde5;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0 24px;
  
    &:focus {
      border: 1px solid #6382fc;
    }
  }

  button {
    color: #ffffff;
    background: #007eba;
    border-radius: 8px;
    padding: 13px 16px;
    &:hover {
      background: #007fbaaf;
    }
  }