@font-face {
  font-family: "RedRose";
  src: url(assets/fonts/Red_Rose/static/RedRose-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "RedRose", Arial, Helvetica, sans-serif;
}

.marker {
  background-size: cover;
  width: 45px;
  height: 61px;
  cursor: pointer;
}

.plastic {
  background-image: url("./assets/mapbox-icon-plastic.png");
}

.metal {
  background-image: url("./assets/mapbox-icon-metal.png");
}

.paper {
  background-image: url("./assets/mapbox-icon-paper.png");
}

.battery {
  background-image: url("./assets/mapbox-icon-battery.png");
}

.glass {
  background-image: url("./assets/mapbox-icon-glass.png");
}

.danger {
  background-image: url("./assets/mapbox-icon-danger.png");
}

.mapboxgl-popup {
  max-width: 300px !important;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Roboto";
  font-weight: 700;
  border: 2px solid #6B8C21;
  padding: 0 30px;
  p {
    color:  #314506;
    font-size: 14px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 12px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
  }
}