@font-face {
  font-family: "RedRose";
  src: url(assets/fonts/Red_Rose/static/RedRose-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  background-color: #F8FAFF;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "RedRose", Arial, Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.marker {
  background-image: url("./assets/mapbox-icon-plastic.png");
  background-size: cover;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;

  &.plastic {
    background-image: url("./assets/mapbox-icon-plastic.png");
  }

  &.plastic.clothes {
    background-image: url("./assets/mapbox-icon-plastic-clothes.png");
  }

  &.plastic.metal {
    background-image: url("./assets/mapbox-icon-plastic-metal.png");
  }

  &.plastic.batteries {
    background-image: url("./assets/mapbox-icon-plastic-batteries.png");
  }

  &.plastic.paper {
    background-image: url("./assets/mapbox-icon-plastic-paper.png");
  }


  &.metal {
    background-image: url("./assets/mapbox-icon-metal.png");
  }

  &.paper {
    background-image: url("./assets/mapbox-icon-paper.png");
  }

  &.paper.metal {
    background-image: url("./assets/mapbox-icon-paper-metal.png");
  }

  &.paper.glass {
    background-image: url("./assets/mapbox-icon-glass-paper.png");
  }


  &.batteries {
    background-image: url("./assets/mapbox-icon-batteries.png");
  }

  &.glass {
    background-image: url("./assets/mapbox-icon-glass.png");
  }

  &.glass.organic {
    background-image: url("./assets/mapbox-icon-glass-organic.png");
  }

  &.clothes {
    background-image: url("./assets/mapbox-icon-clothes.png");
  }

  &.ewaste {
    background-image: url("./assets/mapbox-icon-e-waste.png");
  }

  &.lightbulbs {
    background-image: url("./assets/mapbox-icon-light-bulbs.png");
  }

  &.lightbulbs.ewaste {
    background-image: url("./assets/mapbox-icon-light-bulbs-e-waste.png");
  }

  &.organic {
    background-image: url("./assets/mapbox-icon-organic.png");
  }

  
  &.glass.plastic {
    background-image: url("./assets/mapbox-icon-glass-plastic.png");
  }

}

.mapboxgl-popup {
  max-width: 340px !important;
  &:hover {
    display: block;
  }
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  border: 2px solid #6b8c21;
  padding: 20px;
  p {
    color: #000000;
    font-size: 14px;
    margin-top: 8px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 12px;
    font-weight: 700;
    margin-top: 8px;
  }
  small {
    display: block;
    color: #314506;
    font-size: 10px;
  }

  .options {
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8px;
    img:hover {
      transform: scale(1.2);
      transition: transform 100ms;
      cursor: pointer;
    }
  }

  .rating-result {
    width: 265px;
    margin: 8px auto;
  }
  .rating-result span {
    padding: 0;
    font-size: 24px;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .rating-result > span:before {
    content: "★";
  }
  .rating-result > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
  }
}

.paper.metal.organic,
.paper.metal.glass,
.paper.metal.clothes,
.paper.metal.lightbulbs,
.paper.metal.ewaste,
.paper.metal.plastic,
.paper.organic.glass,
.paper.organic.clothes,
.paper.organic.lightbulbs,
.paper.organic.ewaste,
.paper.organic.plastic,
.paper.glass.clothes,
.paper.glass.lightbulbs,
.paper.glass.ewaste,
.paper.glass.plastic,
.paper.clothes.lightbulbs,
.paper.clothes.ewaste,
.paper.clothes.plastic,
.paper.lightbulbs.ewaste,
.paper.lightbulbs.plastic,
.paper.ewaste.plastic,
.metal.organic.glass,
.metal.organic.clothes,
.metal.organic.lightbulbs,
.metal.organic.ewaste,
.metal.organic.plastic,
.metal.glass.clothes,
.metal.glass.lightbulbs,
.metal.glass.ewaste,
.metal.glass.plastic,
.metal.clothes.lightbulbs,
.metal.clothes.ewaste,
.metal.clothes.plastic,
.metal.lightbulbs.ewaste,
.metal.lightbulbs.plastic,
.metal.ewaste.plastic,
.organic.glass.clothes,
.organic.glass.lightbulbs,
.organic.glass.ewaste,
.organic.glass.plastic,
.organic.clothes.lightbulbs,
.organic.clothes.ewaste,
.organic.clothes.plastic,
.organic.lightbulbs.ewaste,
.organic.lightbulbs.plastic,
.organic.ewaste.plastic,
.glass.clothes.lightbulbs,
.glass.clothes.ewaste,
.glass.clothes.plastic,
.glass.lightbulbs.ewaste,
.glass.lightbulbs.plastic,
.glass.ewaste.plastic,
.clothes.lightbulbs.ewaste,
.clothes.lightbulbs.plastic,
.clothes.ewaste.plastic,
.lightbulbs.ewaste.plastic {
  background-image: url("./assets/multi-icon.png") !important;
}
