<div class="home-section">
    <div class="title-block">
        <div class="title-block-text">
            <h1>Reinventing recycling</h1>
            <div class="title-block-button">
                <div class="title-button" routerLink="/map" >
                    Recycling services 
                </div>
                <div class="title-button" routerLink="/rules" >
                    Sorting rules
                </div>
            </div>
        </div>
    </div>

    <div class="about-us-block">

        <h2>ABOUT US</h2>
        <p>This is a new age of recycling. The conception of the app is to connect eco-friendly people and recycling services to make the process of recycling easier and support 
            Russian eco businesses and organizations. Do you want to find the nearest service to your house or quickly find if the particular material is recyclable? The app is the perfect option. 
            Do you want to found your recycling service but are afraid that this is too difficult? Now you can set up a point on the map with a few clicks and the next day thousands of users will see it. 
                  </p>


        <div class="about-us-block-photo">
            <div class="about-us-block-photo-flex">
                <div>
                    <img src="../../assets/about-us/image-1.png">
                </div>
                <div>
                    <img src="../../assets/about-us/image-2.png">
                </div>
            </div>
            <div class="about-us-block-photo-flex">
                <div >
                    <img src="../../assets/about-us/image-3.png">
                </div>
                <div>
                    <img src="../../assets/about-us/image-4.png">
                </div>
            </div>

        </div>
    </div>
</div>