<div class="comments" *ngIf="service" [@enterAnimation]>
  <div class="title">
    <h3>{{ service.summary }}</h3>
    <button (click)="service = null; close.emit(null)">
      <img src="../../assets/exit.png" alt="" />
    </button>
  </div>
  <div class="rating-result">
    <span [class.active]="service.rating_quantity > 0"></span>
    <span [class.active]="service.rating_quantity > 1"></span>
    <span [class.active]="service.rating_quantity > 2"></span>
    <span [class.active]="service.rating_quantity > 3"></span>
    <span [class.active]="service.rating_quantity > 4"></span>
  </div>

  <p class="types-of-sort">plastic, metal, waste, paper</p>
  <div class="options">
    <div>

      <img id="btn" src="../../assets/phone.png" width="24" height="24" />
    </div>

    <div>

      <img src="../../assets/letter.png" width="27" height="20" />
    </div>

    <div>

      <img src="../../assets/net.png" width="25" height="24" />
    </div>

  </div>

  <p>{{service.address}} </p>

  <h4>Comments</h4>
  <div class="comments-block">
    
    <div class="comments-list">
      
      <div class="comment" *ngFor="let comment of service.comments">
        {{comment.content}}
      </div>
    </div>

    <form [formGroup]="form">
      <div class="comment-send">
        <div class="comment-send-header">
          <div class="star"></div>
          <button>
            <img src="../../assets/send-comment .png" (click)="sendComment()">
          </button>
        </div>
        <div>
          <input placeholder="Write comment..." formControlName="content">
        </div>
      </div>
      
    </form>
  </div>

</div>