.comments {
  position: absolute;
  min-width: 320px;
  max-width: 480px;
  left: 0;
  top: 77px;
  height: 90%;
  z-index: 3;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #8d8b88;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Roboto";
}

button {
  background-color: #fff;
}

.title {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.types-of-sort {
  color: #314506;
  font-weight: bold;
  margin-bottom: 10px;
}

.rating-result {
  width: 265px;
  margin: 10px 0;
}
.rating-result span {
  padding: 0;
  font-size: 24px;
  margin: 0 3px;
  line-height: 1;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
  content: "★";
}
.rating-result > span.active {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.options {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px 0;
  img {
    margin-right: 24px;
  }
  img:hover {
    transform: scale(1.2);
    transition: transform 100ms;
    cursor: pointer;
  }
}

.comments {
  h4 {
    font-size: 24px;
    padding: 15px 0;
  }

  .comment {
    border: 1px solid #8d8b88;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    word-wrap: break-word;

    div {
      text-align: right;
      font-size: 12px;
      color: gray;
      font-style: italic;
      padding-top: 8px;
    }
  }
}

.comments-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  .comments-list {
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .comments-list::-webkit-scrollbar {
    width: 0;
  }
}



// .comment-send {
//   background: rgba(255, 255, 255, 0.65);
//   box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
//   border-radius: 5px;
//   width: 100%;
//   padding: 5px 12px 10px 12px;


  .comment-send {
    background: rgba(255, 255, 255, 0.65);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    padding: 5px 15px;
  
    div {
      margin-bottom: 10px;
    }
  
    textarea {
      width: 100%;
      resize: none;
    }
  
    textarea::-webkit-scrollbar {
      width: 0;
    }
  

  .star {
    margin: 0;
  }

  input {
    width: 100%;
  }
}

.comment-send-header {
  display: flex;
  justify-content: space-between;
}

.invalid-form {
  font-size: 10px;
  color: red;
}


.rating-area {
	overflow: hidden;

	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 26px;
	padding: 0;
	cursor: pointer;
	font-size: 24px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
