<div class="title">
    <div class="title__header">
        <h2>My Profile</h2>
        <div class="title__buttons">
            <img src="../../../../assets/user-page/resume.svg" alt="">
            <span class="title__resume">Resume</span>
            <button>Profile Settings</button>
        </div>
    </div>
    <div class="title__content">
        <div class="title__image">
            <img src="https://picsum.photos/150" alt="profile-image" width="150" height="150">
        </div>
        <div class="title__name">
            <h1>{{user?.firstname + ' ' + user?.lastname}}</h1>
            <p>FP&A and Reporting Supervisor</p>
            <div>
                <img src="../../../../assets/user-page/location.svg" alt="">
                <span>Yerevan, Armenia</span>
            </div>
        </div>
        <div class="title__availability">
            <h3>Availability</h3>
            <p>Full Time:  <b>In one month</b></p>
            <p>Open to projects:  <b>19 Mar 2021 </b></p>
        </div>
    </div>
</div>
